# Intellij
.idea/
*.iml
*.iws

#Eclipse
.project
.settings/
.classpath
.pmd
.checkstyle
.clover

# Maven
log/
target/

# OS
*~
.DS_Store

# other
hs_err_pid*
replay_pid*

# Log
*.log
*.gz
LOG_FILE_IS_UNDEFINED

# Gz
*.gz

#others
*.srctrl*
*.factorypath*